<div class="icon">
  <a href="<%= admin_configurations_path %>">
    <img src="http://nvmedia.com.au/administrator/components/com_rdautos/labels/home.png" border="0" alt="Needs a Value!" style="width:55px;"> 
    <span class="small">Control Panel</span>
  </a>
</div>                
 
<div class="icon">
  <a href="">
    <img src="http://nvmedia.com.au/administrator/components/com_rdautos/labels/vehicles.png" border="0" alt="Needs a Value!" style="width:55px;"> 
    <span class="small" style="padding-top: 5px;">Vehicles</span>
  </a>
</div>         

<div class="icon">
  <a href="<%= admin_configurations_category_types_path %>">
    <img src="http://nvmedia.com.au/administrator/components/com_rdautos/labels/categories.png" border="0" alt="Needs a Value!" style="width:55px;"> 
    <span class="small" style="padding-top: 5px;">Category Type</span>
  </a>
</div> 

<div class="icon">
  <a href="">
    <img src="http://nvmedia.com.au/administrator/components/com_rdautos/labels/categories.png" border="0" alt="Needs a Value!" style="width:55px;"> 
    <span class="small" style="padding-top: 5px;">Categories</span>
  </a>
</div> 
  
  <div class="icon">
  <a href="<%= admin_configurations_vehicle_makes_path %>">
    <img src="http://nvmedia.com.au/administrator/components/com_rdautos/labels/makesmodels.png" border="0" alt="Needs a Value!" style="width:55px;"> 
    <span class="small" style="padding-top: 5px;">Makes and Models</span>
  </a>
</div>         
  
<div class="icon">
  <a href="">
    <img src="http://nvmedia.com.au/administrator/components/com_rdautos/labels/options.png" border="0" alt="Needs a Value!" style="width:55px;"> 
    <span class="small" style="padding-top: 5px;">Vehicle Options</span>
  </a>
</div>        

<div class="icon">
  <a href="">
    <img src="http://nvmedia.com.au/administrator/components/com_rdautos/labels/parts.png" border="0" alt="Needs a Value!" style="width:55px;"> 
    <span class="small" style="padding-top: 5px;">Selling Parts</span>
  </a>
</div>        
  
<div class="icon">
  <a href="">
    <img src="http://nvmedia.com.au/administrator/components/com_rdautos/labels/configuration.png" border="0" alt="Needs a Value!" style="width:55px;"> 
    <span class="small" style="padding-top: 5px;">Configuration</span>
  </a>
</div>
  
<div class="icon">
  <a href="">
    <img src="http://nvmedia.com.au/administrator/components/com_rdautos/labels/dbcheck.png" border="0" alt="Needs a Value!" style="width:55px;"> 
    <span class="small" style="padding-top: 5px;">Database Checker</span>
  </a>
</div>
